node_modules/
.expo/
.expo
.temp_apk_extract/
dist/
npm-debug.*
*.apk
*.idsig
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
.DS_Store
*.log
